<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438417183667-7cvs72vg6e6rt38htsmfhcsls0ojddp7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438417183667-7cvs72vg6e6rt38htsmfhcsls0ojddp7</string>
	<key>API_KEY</key>
	<string>AIzaSyDIGi5mH8do8nj8L5NkbGQF6sSD8p7zavQ</string>
	<key>GCM_SENDER_ID</key>
	<string>438417183667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yusenwang.PokerResultsTracker</string>
	<key>PROJECT_ID</key>
	<string>pokerresultstracker-61a95</string>
	<key>STORAGE_BUCKET</key>
	<string>pokerresultstracker-61a95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438417183667:ios:d989a3feb1ef5131faf1c6</string>
	<key>DATABASE_URL</key>
	<string>https://pokerresultstracker-61a95.firebaseio.com</string>
</dict>
</plist>